<!-- interpolación: el dato se obtiene del C -->
<p>{{titulo}}</p>
<p>Última conexión {{ultima_vez | date:'medium'}}</p>
<!-- <p>Fecha actual {{fechaactual | date:'full'}}</p>
<p>Fecha actual {{fechaactual | date:'medium'}}</p>
<p>Fecha actual {{fechaactual | date:'long'}}</p> -->
<label for="peso">Peso</label>
<input type="number" name="peso" [(ngModel)]="oimc.peso" placeholder="Intro peso">
<label for="altura">Altura</label>
<input type="number" name="altura" [(ngModel)]="oimc.altura" placeholder="Intro altura">
<button (click)="calcularIMC()">Calcular IMC</button>
<!-- sólo quiero que se muestre
la letra si, está calculada -->


<div *ngIf="oimc.numerico!=0">
<img src={{oimc.foto}} alt="estado imc">
<br>
Su imc es {{oimc.numerico}}
</div>
<!-- Añadir una tabla que mueste los resultados acumulados -->
<div *ngIf="lista_imcs && lista_imcs.length>0">
    <table>
        <thead>
            <th>PESO</th>
            <th>ALTURA</th>
            <th>IMC NUM</th>
            <th>LECTURA</th>
            <th>FOTO</th>
        </thead>
        <tbody>
            <tr *ngFor="let auximc of lista_imcs">
                <td>{{auximc.peso}}</td>
                <td>{{auximc.altura}}</td>
                <td>{{auximc.numerico}}</td>
                <td>{{auximc.lectura}}</td>
                <td><img src={{auximc.foto}} alt="estado imc"></td>
            </tr>
        </tbody>
    </table>
    <div>
        MEDIA altura =  {{mediaaltura}}
    </div>
    <div>
        MEDIA peso =  {{mediapeso}}
    </div>
    <button (click)="ordenarPorImc()">Ordenar por IMC</button>
    <button (click)="borrarTablaImc()">Borrar listado</button>
</div>