<!-- id: number;
    nombre: string;
    apellido: string;
    email: string;
    edad: number;
    creadoEn: string;//DATE -->
<form>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduzca su nombre">
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Introduzca su apellido">
    </div>
    <div class="form-group">
        <label for="correo">Email</label>
        <input type="email" class="form-control" id="correo" name="correo" placeholder="Introduzca su correo">
    </div>
    <div class="form-group">
        <label for="edad">Edad</label>
        <input type="number" class="form-control" id="edad" name="edad" placeholder="Introduzca su edad">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
